{% extends 'base.html'%}
{% block body %}

<div class="container">
    <div class="row">
        {%for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 17rem;">
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="20z0px" height="200px">
  <div class="card-body">
    <h5 class="card-title">{{i.Name}}</h5>
    <p class="card-text">{{i.Desc}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">More Details</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
